<div class="fullscreen under-navbar flexbox" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/v1537431320/illustrations/photo-1507608869274-d3177c8bb4c7.jpg');">
  <div class="mobile-first-box mt-3 mb-3 relative">
    <%= render "shared/button_with_icon", locals: {
                                          path: user_path(@user),
                                          icon: "fas fa-times",
                                          klass: "pastille pastille-white pastille-close flexbox"
                                          } %>
    <h4 class="mb-3"><%= t('.title') %></h4>
    <p><%= t('.hint') %></p>
    <div class="bar-separator-light"></div>
    <%= render "shared/profile_capsule", partial:{ user: current_user, klass: "profile-capsule-flex", with_icon: true, icon: "fas fa-plane" } %>
    <div class="trip-line-vertical">
      <i class="fas fa-ellipsis-v"></i>
      <i class="fas fa-ellipsis-v"></i>
      <i class="fas fa-angle-down"></i>
    </div>


    <%= render "shared/profile_capsule", partial:{ user: @user, klass: "profile-capsule-flex mb-3", with_icon: true, icon: "fas fa-home" } %>
    <div class="full-width">
      <%= simple_form_for :trip, url: user_trips_path(@user), method: :post do |f| %>
        <p><%= t('.date_start') %></p>
        <%= f.input :beginning, as: :date, html5: true, label: false, :input_html => { min: DateTime.now } %>
        <p><%= t('.date_end') %></p>
        <%= f.input :end, as: :date, html5: true, label: false, :input_html => { min: DateTime.now } %>
        <div class="row">
        <div class="col-12 pt-3">
          <%= f.button :submit, value: "valider", data: { disable_with: "" }, class:"btn btn-blue btn-large" %>
        </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

<%= content_for :after_js do %>
  <script>
    const beginning = document.getElementById('trip_beginning');
    const end = document.getElementById('trip_end');

    beginning.addEventListener('change', setEndDate)

    function setEndDate() {
      end.value = end.min = beginning.value;
    }
  </script>
<% end %>
