<% content_for(:title_tag) { t('.title') } %>
<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative text-left lv-one-page" style=" background-image: linear-gradient(0deg, rgba(10,10,10,0.7) 0%, rgba(10,10,10,0.7) 100%), url('https://res.cloudinary.com/dfcsmghw4/image/upload/v1536852011/illustrations/photo-1491438590914-bc09fcaaf77a.jpg')">
    <div class="form_login center">
      <h1><%= t('.layout-title') %></h1>
      <p><%= t('.needed') %></p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="login-box margin-bottom-big">
          <div class="form-inputs">
            <div class="label-separator flexbox">
              <p class="label"><%= t('.data-connexion') %></p>
              <div class="separator"></div>
            </div>
            <div class="input-parent">
              <i class="input-icon far fa-envelope"></i>
              <%= f.input :email, required: true, label: false, input_html: { autocomplete: "email" }, placeholder: t('.email') %>
            </div>

            <div class="input-parent">
              <i class="input-icon fas fa-lock"></i>
              <%= f.input :password,
                          required: true,
                          placeholder: t('.password'),
                          label: false,
                          hint: t('.password_hint'),
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="input-parent margin-bottom-big">
              <i class="input-icon fas fa-lock"></i>
              <%= f.input :password_confirmation,
                        required: true,
                        placeholder: t('.password2'),
                        label: false,
                        input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="label-separator flexbox">
              <p class="label"><%= t('.data-personal') %></p>
              <div class="separator"></div>
            </div>
            <div class="margin-bottom-small">
              <small><%= t('.restrictions') %></small>
            </div>
            <div class="input-parent">
              <i class="input-icon far fa-user"></i>
              <%= f.input :first_name, label: false, required: true, placeholder: t('.first_name') %>
            </div>

            <div class="input-parent">
              <i class="input-icon far fa-user"></i>
              <%= f.input :last_name, label: false, required: true, placeholder: t('.last_name') %>
            </div>

            <div class="input-parent">
              <i class="input-icon fas fa-phone"></i>
              <%= f.input :phone, label: false, required: true, placeholder: t('.phone') %>
            </div>

            <div class="input-parent">
              <i class="input-icon fas fa-map-marker-alt"></i>
              <%= f.input :address, label: false, required: true, placeholder: t('.address') %>
              <%= f.input :latitude, as: :hidden %>
              <%= f.input :longitude, as: :hidden %>
              <%= f.input :city, as: :hidden %>
            </div>

            <div class="input-parent">
              <i class="input-icon fas fa-birthday-cake"></i>
              <%= f.input :birth_date, label: false, required: true, placeholder: t('.birth_date')  %>
            </div>

            <p>Un tout petit mot à propos de vous :</p>
            <div class="input-parent">
              <i class="input-icon fas fa-quote-right"></i>
              <%= f.input :sentence, label: false, required: true, placeholder: t('.sentence') %>
            </div>


           <div class="input-parent mb-3">
            <p><%= t('.photo') %></p>
              <%#= f.input :photo, label: false %>
              <%= f.input :photo_cache, as: :hidden %>

              <div class="fileinput fileinput-new" data-provides="fileinput" id="user-photo-form-group">
                <div class="fileinput-new thumbnail" style="background-image: url(''); width: 280px; height: 150px;">
                   <i class="fas fa-camera-retro"></i>
                </div>
                <div>
                  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 280px; max-height: 150px;"></div>
                  <div>
                    <div class="form-control-file file required">
                    <span class="btn btn-default btn-light-purple btn-file mb-3">
                      <span class="fileinput-new"><%= t('.select_file') %></span>
                      <span class="fileinput-exists"><%= t('.change_file') %></span>
                      <input type="file" name="user[photo]" id="user_photo">
                    </span>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-default btn-orange fileinput-exists" data-dismiss="fileinput" id="user-photo-remove-btn"><%= t('.remove_file') %></a>
          </div>


            <div class="input-parent mb-3">
             <p><%= t('.id_card') %></p>
               <%= f.input :id_card, label: false %>
               <%= f.input :id_card_cache, as: :hidden %>
                <small><%= t('.id_card_hint') %></small>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, t('.submit') %>
          </div>
        </div>
      <% end %>
        <div class="full-width" style="text-align: center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
  // IMAGE PREVIEW

  const userPhotoCache = document.getElementById('user_photo_cache').value;
  const userPhotoFormGroup = document.getElementById('user-photo-form-group');
  const userPhotoRemoveBtn = document.getElementById('user-photo-remove-btn');

  window.onload = function (e) {
    if(userPhotoCache == "") {
      console.log("ajouter une photo");
      userPhotoFormGroup.style.display = "visible";
      userPhotoRemoveBtn.style.display = "none";
    }
    else {
      userPhotoFormGroup.style.visibility = "hidden";
      userPhotoFormGroup.style.position = "absolute";

      userPhotoRemoveBtn.style.display = "block";
    }
  }





  // function testIt(e) {
  //   if(this.value.match(new RegExp(this.pattern))){
  //     this.style.cssText = null;
  //   }
  //   else {
  //     this.style.borderColor = "red";
  //   }
  // }

  function onPlaceChanged() {
    var place = this.getPlace();
    var components = getAddressComponents(place);

    var userAddress = document.getElementById('user_address');
    var userlat = document.getElementById('user_latitude');
    var userlng = document.getElementById('user_longitude');
    var usercity = document.getElementById('user_city');

    userAddress.blur();
    userAddress.value = components.address + ', ' + components.zip_code + ' ' + components.city + ', ' + components.country_code;
    userlat.value = place.geometry.location.lat();
    userlng.value = place.geometry.location.lng();
    usercity.value = components.city
    // if (components.country_code) {
    //   var selector = '#user_country option[value="' + components.country_code + '"]';
    //   document.querySelector(selector).selected = true;
    // }
  }

  function getAddressComponents(place) {

    // console.log(place.geometry.location.lat());
    // - place.geometry.location.lng()

    if (window.console && typeof console.log === "function") {
      console.log(place);
    }

    var street_number = null;
    var route = null;
    var zip_code = null;
    var city = null;
    var country_code = null;
    for (var i in place.address_components) {
      var component = place.address_components[i];
      for (var j in component.types) {
        var type = component.types[j];
        if (type === 'street_number') {
          street_number = component.long_name;
        } else if (type === 'route') {
          route = component.long_name;
        } else if (type === 'postal_code') {
          zip_code = component.long_name;
        } else if (type === 'locality') {
          city = component.long_name;
        } else if (type === 'postal_town' && city === null) {
          city = component.long_name;
        } else if (type === 'country') {
          country_code = component.short_name;
        }
      }
    }

    return {
      address: street_number === null ? route : (street_number + ' ' + route),
      zip_code: zip_code,
      city: city,
      country_code: country_code
    };
  }

  document.addEventListener("DOMContentLoaded", function() {

    var userAddress = document.getElementById('user_address');
    var userPhone = document.getElementById('user_phone');

    // if(userPhone){
    //   userPhone.pattern = patternPhone;
    // }

    if (userAddress) {
      var autocomplete = new google.maps.places.Autocomplete(userAddress, { types: ['geocode'] });
      google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
      google.maps.event.addDomListener(userAddress, 'keyup', function(e) {
        if (e.key === "Enter") {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }

    // var inputs = [userName1, userName2, userKids, userPhone]

    // for(i = 0;i<inputs.length;i++) {
    //   if (inputs[i]) {
    //     inputs[i].addEventListener("keyup", testIt, true);
    //   }
    // }

    });
  </script>
<% end %>


