<% unless me? %>
  <h5 class="mb-3"><span class="mr-3"><i class="far fa-comment"></i></span><%= t('.add_comment') %></h5>
    <% if existing_trips? %>
      <%= render "shared/mini_form", query: :comment,
                                     attribute: :content,
                                     content: { label: false,
                                                path: user_comments_path(@user),
                                                method: :post,
                                                placeholder: t('.comment_placeholder'),
                                                value: session[:comment],
                                                btn_text: t('.comment_btn_text')} %>
    <% else %>
      <p class="p-3 bg-light"><%= t('.leave_comment_here') %></p>
    <% end %>
<% end %>

<div class="bar-separator-light"></div>

<% if @comments.empty? %>
  <p class="p-3 bg-light"><%= t('.comment_empty') %></p>
<% else %>
  <% @comments.each do |comment| %>
    <div class="row">
      <%= link_to user_path(comment.traveller) do %>
        <%= cl_image_tag comment.traveller.photo.url, class:"comment-photo mr-3 mb-3 col-xs-12 col-md-3"  %>
      <% end %>
      <div class="col-xs-12 col-md-9">
        <%= link_to user_path(comment.traveller) do %>
          <p><%= "#{comment.traveller.hidden_full_name}"%>
        <% end %>
           <span class="text-black-50"> - <%= "#{comment.created_at.strftime('%d-%m-%Y')}" %></span>
        </p>
        <p></p>
        <p><%= comment.content %></p>
      </div>
    </div>
    <% if moderation %>
      <%= render "shared/button_form", local: { model: :comment,
                                                path: user_comment_path(@user, comment),
                                                method: :patch,
                                                attribute: :suspended,
                                                value: comment.suspended ? false : true,
                                                btn_text: comment.suspended ? "approve the comment above" : "suspend the comment above",
                                                btn_extra_class: comment.suspended ? "btn-green" : "btn-orange",
                                                icon: comment.suspended ? "far fa-comments" : "fas fa-comment-slash"
                                                } %>
    <% end %>
  <% end %>
<% end %>
