<div class="row">
  <div class="col-12 <%= @map ? "col-lg-12" : "col-lg-10" %> center">
    <div class="row">
      <div class="col-12 mosaic-header">
        <%= link_to t('.title'), users_path %> <%= t('.a') + @search.capitalize if @search %>
      </div>
      <% @users.each do |user| %>
        <div class="col-12 col-md-6 <%= @map ? "col-lg-6 col-xl-4" : "col-lg-3 col-xl-2" %> relative">
          <%= render "users/profile_card", user: user %>
        </div>
      <% end %>
      <div class="col-12 mosaic-footer"></div>
    </div>
  </div>
</div>
