<% if user.validated_host? || moderation %>
  <%= link_to user_path(user) do %>
    <%= render "profile_card_content", user:user %>
    <% if moderation %>
      <%= render "profile_card_moderation", user: user %>
    <% end %>
  <% end %>
<% else %>
  <%= render "profile_card_content", user:user %>
  <div class="profile-card-filter">
    <h5><strong><%= t('.coming_soon') %></strong></h5>
    <h6><%= t('.hint') %></h6>
  </div>
<% end %>
