<div class="profile-card">
  <% if moderation %>
    <%= render "profile_card_moderation", user: user %>
  <% end %>
  <div class="profile-card-portrait" style="background-image: url('<%= user.photo.present? ? (cl_image_path user.photo.url, effect:"blue:10" ) : "" %>')">
  </div>
  <div class="profile-card-description">
    <h5 class="name"><%= user.first_name %></h5>
    <h5 class="distance"><%= user.city || "unknown city" %></h5>
    <div class="catchy flexbox">
      <h5><%= user.sentence || "" %></h5>
    </div>
  </div>
</div>
