<div class="fullscreen white-on-purple pt-4 container-fluid">
  <div class="row">
    <div class="profile-detailed col-12">
      <div class="row">
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
        <div class="col-xs-12 col-md-10 col-lg-10 col-xl-8">
          <div class="row">
            <div class="profile-breadcrumb col-12">
              <h5><%= @user.hidden_full_name %></h5>
            </div>
            <div class="col-12">
              <div class="page-wrapper black-on-white margin-bottom-big relative">
                <%= render "shared/button_with_icon", locals: {
                                                      path: users_path,
                                                      icon: "fas fa-times",
                                                      klass: "pastille pastille-white pastille-close flexbox"
                                                      } %>
                <%= link_to edit_user_registration_path, class:"pastille pastille-white pastille-close second flexbox" do %>
                  <div style="top:13px;">
                    <p style="font-size:23px"><i class="fas fa-pencil-alt"></i></p>
                  </div>
                <% end %>

                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 margin-bottom-big text-center">
                      <%= cl_image_tag @user.photo.url, id:"photo" %>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <h4><%= @user.hidden_full_name %></h4>
                      <p><%= t('.live_in') + " " + @user.city if @user.city.present? %> </p>
                      <% unless @user.validated_host? %>
                        <%= link_to t('users.becoming_host_form.home_offer_btn_text'),"#home_proposal", class:"btn btn-light-purple mb-3" %>
                      <% end %>
                      <%= render "labels" %>
                      <div class="bar-separator"></div>
                      <p class="sentence">"<%= @user.sentence %>"</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h5 class="mb-3"><%= t('.about') %></h5>
                        <%= render "shared/mini_form", query: :user, attribute: :description, content: { label: false, path: @user, method: :patch, placeholder: @user.description, value: @user.description || "", btn_text: t('.about_btn_text') } %>
                      </div>
                      <h5 class="mb-3"><%= t('.photos') %></h5>
                      <div class="flex-line flex-left">
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                      </div>
                      <div class="bar-separator-light"></div>

                      <div class="mb-5" id="home_proposal">
                        <h5 class="mb-3"><%= t('.host_title') + t('.home_minimum') %></h5>
                        <% case @user.host %>
                          <% when "not_host" %>
                            <%= render "becoming_host_form" %>
                          <% when "unvalidated_host" %>
                            <h5 class="p-3 bg-secondary text-white mb-3"><%= t('.host_unvalidated') %></h5>
                          <% when "validated_host" %>
                            <p><%= @user.home %></p>
                            <div class="full-width">
                              <%= simple_form_for :user, url: @user, method: :patch do |f| %>
                                <div class="row">
                                  <div class="col-12">
                                    <%= f.input :host, input_html: {value: "not_host" }, as: :hidden %>
                                    <%= f.button :submit, value: t('.home_cancel_btn_text'), data: { disable_with: "" }, class:"btn btn-red" %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                        <% end %>
                      </div>

                      <h5 class="mb-3"><%= t('.comments') %></h5>
                      <%= render "users/comments" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
