<div class="fullscreen white-on-purple pt-4 container-fluid">
  <div class="row">
    <div class="profile-detailed col-12">
      <div class="row">
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
        <div class="col-xs-12 col-md-10 col-lg-10 col-xl-8">
          <div class="row">
            <div class="profile-breadcrumb col-12">
              <h5><%= @user.hidden_full_name %></h5>
            </div>
            <div class="col-12">
              <div class="page-wrapper black-on-white margin-bottom-big relative">
                <%= render "shared/button_with_icon", locals: {
                                                      path: users_path,
                                                      icon: "fas fa-times",
                                                      klass: "pastille pastille-white pastille-close flexbox"
                                                      } %>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 margin-bottom-big text-center">
                      <%= cl_image_tag @user.photo.url, id:"photo", effect:"blue:10" %>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <h4><%= @user.hidden_full_name %></h4>
                        <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %> </p>
                        <p><i class="fas fa-phone"></i> <%= @user.phone.gsub(/(\d{2})/,'\1-').chop %> </p>
                        <p><i class="fas fa-birthday-cake">Adult : </i> <%= @user.adulthood %> </p>

                      <%= render "labels" %>
                      <div class="bar-separator"></div>
                      <p class="sentence">"<%= @user.sentence %>"</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div id="id_card">
                        <%= cl_image_tag(@user.id_card.file.public_id + "." + @user.id_card.file.format, :sign_url=>true, :type=>"authenticated") %>
                      </div>
                    </div>
                    <div class="col-12">

                      <% if @user.suspended? %>
                        <%= render "shared/button_form", local: { model: :user,
                                                                  path: @user,
                                                                  method: :patch,
                                                                  attribute: :role,
                                                                  value: "visitor",
                                                                  btn_text: "unsuspend this member",
                                                                  btn_extra_class: "btn-green",
                                                                  icon: "far fa-smile-wink"
                                                                  } %>
                      <% else %>
                        <div class="d-flex flex-row">
                          <%= render "shared/button_form", local: { model: :user,
                                                                    path: @user,
                                                                    method: :patch,
                                                                    attribute: :role,
                                                                    value: @user.role == "visitor" ? "member" : "visitor",
                                                                    btn_text: @user.role == "visitor" ? "validate this member" : "unvalidate this member",
                                                                    btn_extra_class: @user.role == "visitor" ? "btn-green" : "btn-orange",
                                                                    icon: @user.role == "visitor" ? "fas fa-user" : "fas fa-user-slash"
                                                                    } %>
                          <%= render "shared/button_form", local: { model: :user,
                                                                    path: @user,
                                                                    method: :patch,
                                                                    attribute: :role,
                                                                    value: "suspended",
                                                                    btn_text: "suspend this member",
                                                                    btn_extra_class: "btn-red",
                                                                    data: { confirm: t('.are_you_sure?') },
                                                                    icon: "far fa-angry"
                                                                    } %>
                        </div>
                      <% end %>

                      <div class="bar-separator-light"></div>

                    </div>
                    <% if @order && @plan %>
                      <div class="col-12">
                        <div class="mb-5 p-3 border border-info">
                          <h5 class="mb-3 badge badge-pill badge-info">Premium account infos (last pass)</h5>
                          <p>Pass Name : <%= @order.plan_sku %></p>
                          <p>Montant : <%= (@order.amount_cents/100).to_s + " " + @order.amount_currency %></p>
                          <p>Duration : <%= @plan.duration %> year</p>
                          <p>Beginning : <%= @order.created_at %></p>
                          <p>End : <%= @order.created_at + @plan.duration.years %></p>
                        </div>
                      </div>
                    <% end %>
                    </div>
                    <div class="col-12">
                      <div class="mb-5">
                        <h5 class="mb-3">About</h5>
                        <p><%= @user.description || t('.description_none') %></p>
                      </div>
                      <h5 class="mb-3"><%= t('.photos') %></h5>
                      <div class="d-flex flex-row">
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                      </div>
                      <div class="bar-separator-light"></div>

                      <h5 class="mb-3">Send Message to member : </h5>


                      <%= render "shared/mini_form", query: :message, attribute: :content, content: { label: false, path: user_messages_path(@user), method: :post, placeholder: "Beware, you are a moderator", value: session[:message], btn_text: "Send private message by mail" } %>

                      <% @messages.each do |message| %>
                        <div class="bg-light p-3 mb-3 mt-2">
                          <h5>Moderator : <%= message.traveller.full_name %></h5>
                          <h5>Date : <%= message.created_at %></h5>
                          <p><%= message.content %></p>
                        </div>
                      <% end %>

                      <div class="bar-separator-light"></div>


                      <div class="mb-5" id="home_proposal">
                        <h5 class="mb-3">Hosting</h5>
                        <% case @user.host %>
                          <% when "not_host" %>
                            <h5 class="p-3 bg-secondary text-white mb-3">not host</h5>
                          <% when "unvalidated_host" %>
                            <h5 class="p-3 bg-secondary text-white mb-3">unvalidated host</h5>
                            <p><%= @user.home %></p>
                            <!-- button validate -->
                            <div class="full-width">
                            <!-- button unvalidate -->
                            <%= render "shared/button_form", local: { model: :user,
                                                                      path: @user,
                                                                      method: :patch,
                                                                      attribute: :host,
                                                                      value: "validated_host",
                                                                      btn_text: "validate this member as host",
                                                                      btn_extra_class: "btn-green",
                                                                      icon: "fas fa-home"
                                                                      } %>
                            </div>
                          <% when "validated_host" %>
                            <p><%= @user.home %></p>
                            <div class="full-width">
                            <!-- button unvalidate -->
                            <%= render "shared/button_form", local: { model: :user,
                                                                      path: @user,
                                                                      method: :patch,
                                                                      attribute: :host,
                                                                      value: "not_host",
                                                                      btn_text: "unvalidate this host",
                                                                      btn_extra_class: "btn-red",
                                                                      icon: "fas fa-house-damage"
                                                                      } %>
                            </div>
                        <% end %>
                      </div>

                      <h5 class="mb-3"><%= t('.comments') %></h5>
                      <%= render "users/comments" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
