<div class="fullscreen white-on-purple pt-4 container-fluid">
  <div class="row">
    <div class="profile-detailed col-12">
      <div class="row">
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
        <div class="col-xs-12 col-md-10 col-lg-10 col-xl-8">
          <div class="row">
            <div class="profile-breadcrumb col-12">
              <h5><%= @user.hidden_full_name %></h5>
            </div>
            <div class="col-12">
              <div class="page-wrapper black-on-white margin-bottom-big relative">
                <%= render "shared/button_with_icon", locals: {
                                                      path: users_path,
                                                      icon: "fas fa-times",
                                                      klass: "pastille pastille-white pastille-close flexbox"
                                                      } %>

                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 margin-bottom-big text-center">
                      <%= cl_image_tag @user.photo.url, id:"photo" %>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <h4><%= @user.hidden_full_name %></h4>
                        <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %> </p>
                        <p><i class="fas fa-phone"></i> <%= @user.phone %> </p>
                        <p><i class="fas fa-birthday-cake"></i> <%= @user.birth_date %> </p>
                      <% if me? %>
                        <%= link_to t('users.becoming_host_form.home_offer_btn_text'),"#home_proposal", class:"btn btn-light-purple mb-3" %>
                      <% end %>
                      <%= render "labels" %>
                      <div class="bar-separator"></div>
                      <p class="sentence">"<%= @user.sentence %>"</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h5 class="mb-3">About</h5>
                        <p><%= @user.description || t('.description_none') %></p>
                      </div>
                      <h5 class="mb-3"><%= t('.photos') %></h5>
                      <div class="flex-line flex-left">
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                      </div>
                      <div class="bar-separator-light"></div>

                      <div class="mb-5" id="home_proposal">
                        <h5 class="mb-3">Hosting</h5>
                        <% case @user.host %>
                          <% when "not_host" %>
                            <h5 class="p-3 bg-secondary text-white mb-3">not host</h5>
                          <% when "unvalidated_host" %>
                            <h5 class="p-3 bg-secondary text-white mb-3">unvalidated host</h5>
                            <p><%= @user.home %></p>
                            <!-- button validate -->
                            <div class="full-width">
                            <!-- button unvalidate -->
                              <%= simple_form_for :user, url: @user, method: :patch do |f| %>
                                <div class="row">
                                  <div class="col-12">
                                    <%= f.input :host, input_html: {value: "validated_host" }, as: :hidden %>
                                    <%= f.button :submit, value: "validate this host", data: { disable_with: "" }, class:"btn btn-green" %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          <% when "validated_host" %>
                            <p><%= @user.home %></p>
                            <div class="full-width">
                            <!-- button unvalidate -->
                              <%= simple_form_for :user, url: @user, method: :patch do |f| %>
                                <div class="row">
                                  <div class="col-12">
                                    <%= f.input :host, input_html: {value: "not_host" }, as: :hidden %>
                                    <%= f.button :submit, value: "unvalidate this host", data: { disable_with: "" }, class:"btn btn-red" %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                        <% end %>
                      </div>

                      <h5 class="mb-3"><%= t('.comments') %></h5>
                      <% if @comments.empty? %>
                        <p>- <%= t('.comment_empty') %></p>
                      <% else %>
                        <% @comments.each do |comment| %>
                          <div class="row">
                            <%= cl_image_tag comment.traveller.photo.url, class:"comment-photo mr-3 mb-3 col-xs-12 col-md-3"  %>
                            <div class="col-xs-12 col-md-9">
                              <p><%= "#{comment.traveller.hidden_full_name}"%>
                                 <span class="text-black-50"> - <%= "#{comment.created_at.strftime('%d-%m-%Y')}" %></span>
                              </p>
                              <p></p>
                              <p><%= comment.content %></p>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
