<div class="fullscreen white-on-purple pt-4 container-fluid">
  <div class="row">
    <div class="profile-detailed col-12">
      <div class="row">
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
        <div class="col-xs-12 col-md-10 col-lg-10 col-xl-8">
          <div class="row">
            <div class="profile-breadcrumb col-12">
              <h5><%= link_to t('.column-title') %><%= @user.hidden_full_name %></h5>
            </div>
            <div class="col-12">
              <div class="page-wrapper black-on-white margin-bottom-big relative">
                <%= render "shared/button_with_icon", locals: {
                                                      path: users_path,
                                                      icon: "fas fa-times",
                                                      klass: "pastille pastille-white pastille-close flexbox"
                                                        } %>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 margin-bottom-big text-center">
                      <%= cl_image_tag @user.photo.url, id:"photo" %>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <h4><%= @user.hidden_full_name %></h4>
                      <p><%= t('.live_in') %> Paris</p>
                      <%= render "labels" %>
                      <p><%= t('.trip_agreement') %></p>
                      <%= link_to t('.trip_announcement'), new_user_trip_path(@user) ,class:"btn btn-yellow mb-2" %></div>
                      <div class="bar-separator"></div>
                      <p class="sentence">"<%= @user.sentence %>"</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h5 class="mb-3"><span class="mr-3"><%= t('.about') %></h5>
                        <p><%= @user.description || t('.description_none') %></p>
                      </div>
                      <h5 class="mb-3"><span class="mr-3"><%= t('.photos') %></h5>
                      <div class="flex-line flex-left">
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                      </div>
                      <div class="bar-separator-light"></div>

                        <h5 class="mb-3"><span class="mr-3"><i class="far fa-envelope"></i></span><%= t('.send_message') %></h5>
                        <% unless current_user.freemium? %>
                          <%= render "shared/mini_form", query: :message, attribute: :content, content: { label: false, path: user_messages_path(@user), method: :post, placeholder: t('.message_placeholder'), value: session[:message], btn_text: t('.message_btn_text') } %>
                        <% else %>
                          <h5 class="p-3 bg-light mb-3">
                            <%= render "shared/get_premium_btn" %>
                            <%= t('.message_be_premium') %>
                          </h5>
                        <% end %>

                        <div class="bar-separator-light"></div>

                        <h5 class="mb-3"><span class="mr-3"><i class="far fa-comment"></i></span><%= t('.add_comment') %></h5>
                        <% unless current_user.freemium? %>
                          <%= render "shared/mini_form", query: :comment, attribute: :content, content: { label: false, path: user_comments_path(@user), method: :post, placeholder: t('.comment_placeholder'), value: session[:comment], btn_text: t('.comment_btn_text') } %>
                        <% else %>
                          <h5 class="p-3 bg-light mb-3">
                            <%= render "shared/get_premium_btn" %>
                            <%= t('.comment_be_premium') %>
                          </h5>
                        <% end %>

                        <div class="bar-separator-light"></div>
                      <h5 class="mb-3"><%= t('.comments') %></h5>
                      <% if @comments.empty? %>
                        <p>- <%= t('.comment_empty') %></p>
                      <% else %>
                        <% @comments.each do |comment| %>
                          <div class="row">
                            <%= cl_image_tag comment.traveller.photo.url, class:"comment-photo mr-3 mb-3 col-xs-12 col-md-3"  %>
                            <div class="col-xs-12 col-md-9">
                              <p><%= "#{comment.traveller.hidden_full_name}"%>
                                 <span class="text-black-50"> - <%= "#{comment.created_at.strftime('%d-%m-%Y')}" %></span>
                              </p>
                              <p></p>
                              <p><%= comment.content %></p>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
