<div class="fullscreen white-on-purple pt-4 container-fluid">
  <div class="row">
    <div class="profile-detailed col-12">
      <div class="row">
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
        <div class="col-xs-12 col-md-10 col-lg-10 col-xl-8">
          <div class="row">
            <div class="profile-breadcrumb col-12">
              <h5><%= link_to t('.column-title') %><%= @user.hidden_full_name %></h5>
            </div>
            <div class="col-12">
              <div class="page-wrapper black-on-white margin-bottom-big relative">
                <%= render "shared/button_with_icon", locals: {
                                                      path: users_path,
                                                      icon: "fas fa-times",
                                                      klass: "pastille pastille-white pastille-close flexbox"
                                                        } %>
                <% if moderation %>
                <%= render "shared/button_with_icon", locals: {
                                                      path: moderate_user_path(@user),
                                                      icon: "fas fa-chalkboard-teacher",
                                                      klass: "pastille pastille-white pastille-close second flexbox"
                                                        } %>
                <% end %>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 margin-bottom-big text-center">
                      <%= cl_image_tag @user.photo.url, effect:"blue:10", id:"photo" %>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <h4><%= @user.hidden_full_name %></h4>
                      <p><%= t('.live_in') + " " + @user.city if @user.city %> </p>
                      <%= render "labels" %>
                      <%= render "trips/trip_announcement" %>
                      <div class="bar-separator-light"></div>
                    </div>

                    <div class="col-12">
                      <p class="sentence">"<%= @user.sentence %>"</p>
                    </div>

                    <div class="col-12">
                      <div class="bar-separator"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h5 class="mb-3"><span class="mr-3"><%= t('.about') %></h5>
                        <p><%= @user.description || t('.description_none') %></p>
                      </div>
                      <h5 class="mb-3"><span class="mr-3"><%= t('.photos') %></h5>
                      <div class="flex-line flex-left">
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                        <div class="photo_placeholder mr-3 flexbox">
                          <i class="fas fa-camera"></i>
                        </div>
                      </div>
                      <div class="bar-separator-light"></div>

                        <h5 class="mb-3"><span class="mr-3"><i class="far fa-envelope"></i></span><%= t('.send_message') %></h5>
                        <% if current_user.premium %>
                          <%= render "shared/mini_form", query: :message, attribute: :content, content: { label: false, path: user_messages_path(@user), method: :post, placeholder: t('.message_placeholder'), value: session[:message], btn_text: t('.message_btn_text') } %>
                        <% else %>
                          <h5 class="p-3 bg-light mb-3">
                            <%= render "shared/get_premium_btn" %>
                            <%= t('.message_be_premium') %>
                          </h5>
                        <% end %>

                        <div class="bar-separator-light"></div>

                        <h5 class="mb-3"><span class="mr-3"><i class="far fa-comment"></i></span><%= t('.add_comment') %></h5>
                        <% if current_user.premium %>
                          <%= render "shared/mini_form", query: :comment, attribute: :content, content: { label: false, path: user_comments_path(@user), method: :post, placeholder: t('.comment_placeholder'), value: session[:comment], btn_text: t('.comment_btn_text') } %>
                        <% else %>
                          <h5 class="p-3 bg-light mb-3">
                            <%= render "shared/get_premium_btn" %>
                            <%= t('.comment_be_premium') %>
                          </h5>
                        <% end %>

                        <div class="bar-separator-light"></div>
                      <h5 class="mb-3"><%= t('.comments') %></h5>
                      <%= render "users/comments" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-1 col-lg-1 col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
