<%= link_to locals[:path], remote:locals[:remote] do %>
  <div class="<%= locals[:klass] %>">
    <span style="font-size: <%= locals[:font_size] %>"><i class="<%= locals[:icon] %>"></i><%= locals[:text] %></span>
  </div>
<% end %>
