<% flash.each do |key, value| %>
  <div class="alert position-<%= key[-1] %> slideLeft-nobounce<%= key[-1] %>" role="alert">
    <div class="alert-badge alert-<%= key %> flexbox">
      <i class="<%= flash_icon(key) %> bigEntrance withdelay" aria-hidden="true"></i>
    </div>
    <div class="alert-message text-left flexbox">
      <%= simple_format(value) %>
    </div>
    <div type="button" class="alert-close" data-dismiss="alert" aria-label="close"><i class="fa fa-times close-<%= key %>" aria-hidden="true"></i></div>
  </div>
<% end %>
