<div class="footer">
  <%= image_tag "logo_lavoyageuse.svg" %>
  <p><%= link_to content_tag(:i, nil, class:'fab fa-facebook-square'), "https://www.facebook.com/lavoyageusesolo/" %></p>
  <%= link_to "conditions d'utilisation", cgu_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "contactez-nous", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "charte", chart_path, class: "navbar-wagon-item navbar-wagon-link" %>
</div>
