<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_lavoyageuse.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".how_it_works", default: "How it works"), about_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to t(".become_host", default: "Become host"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link navbar-lavoyageuse-button" %>
      <%= link_to t(".sign_up", default: "Signup"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

</div>

