<div class="navbar-wagon">
  <% if user_signed_in? && moderation %>
    <div class="label-moderator"><i class="fas fa-chess-knight"></i> moderator : <%= current_user.first_name %></div>
    <% unless ENV['GA_TRACKER_ENV'] == "production" %>
      <div class="label-env"><%= "#{ENV['GA_TRACKER_ENV']} environment" %></div>
    <% end %>
  <% end %>

  <div>
    <div class="row">
      <div class="col-12 col-sm-6 d-flex align-items-center">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo_lavoyageuse.svg", height: 50 %>
        <% end %>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <div class="d-flex align-items-center">
          <%= render "shared/search_bar" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Only desktop right Navigation -->
  <div class="d-none d-xs-none d-xl-block">
    <% if user_signed_in? %>
      <div style="display: inline-block">
        <%= render "shared/profile_capsule", partial: { user: current_user } %>
      </div>
      <%= link_to t(".mosaic", default: "Hosts"), users_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".logout", default: "Logout"), destroy_user_session_path,  method: :delete ,class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
      <%= link_to t(".how_it_works", default: "How it works"), about_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_up", default: "Signup"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Mobile Navigation -->
  <div class="navbar-wagon-item d-block d-xl-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu text-center">
        <li><%= link_to t(".how_it_works", default: "How it works"), about_path, class: "navbar-wagon-item flexbox" %></li>
          <% if user_signed_in? %>
            <li><%= link_to t(".account", default: "My account"), user_path(current_user), class: "navbar-wagon-item flexbox" %></li>
            <li><%= link_to t(".mosaic", default: "Hosts"), users_path, class: "navbar-wagon-item flexbox" %></li>
            <li> <%= link_to t(".logout", default: "Logout"), destroy_user_session_path,  method: :delete ,class: "navbar-wagon-item flexbox" %></li>
          <% else %>
            <li><%= link_to t(".sign_up", default: "Signup"), new_user_registration_path, class: "navbar-wagon-item flexbox" %></li>
            <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item flexbox" %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="col-12 d-block d-md-none">
  <div class="d-flex align-items-center p-2">
    <%= render "shared/search_bar" %>
  </div>
</div>


