<div class="plan-wrapper fullscreen under-navbar flexbox" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/v1537431245/illustrations/photo-1519354754184-e1d9c46182c0.jpg');">
  <div>
    <h1 class="plan-title"><%= t('.title') %></h1>
    <div class="plan-board">
        <div class="row">
          <div class="col-6">
            <p class="plan-board-title mb-3"><%= t('.board-title') %></p>
            <p><i class="fas fa-check-circle mr-3"></i><%= t('.status') %> <%= t('.' + @order.state) %></p>
            <p><i class="fas fa-check-circle mr-3"></i><%= t('.command_number') %><%= t('.' + (@order.id*100).to_s) %></p>
            <p><i class="fas fa-check-circle mr-3"></i><%= t('.pass_name') %> <%= @order.plan_sku %></p>
            <p><i class="fas fa-check-circle mr-3"></i><%= t('.amount') %> <%= humanized_money_with_symbol(@order.amount) %> </p>
            <p><i class="fas fa-angle-double-right mr-3"></i><%= t('.beginning') %><%= @order.created_at.strftime("%d/%m/%Y") %> </p>
            <p><i class="far fa-calendar-alt mr-3"></i><%= t('.end') %> <%= @order.created_at.next_year.strftime("%d/%m/%Y") %> </p>
            <p><%= t('.welcome') %></p>
          </div>
          <div class="col-6 mb-4">
            <div class="plan-card">
              <p class="plan-card-title"><%= @order.plan_sku.capitalize %></p>
              <div class="plan-price-wrapper flexbox">
                <div class="plan-card-photo" style="background-image: url('<%= @user.photo.present? ? (cl_image_path @user.photo.url, effect:"blue:10" ) : "" %>')"></div>
              </div>
              <div class="plan-card-duration flexbox ">
                 <%= t('.expiration') %> <%= @order.created_at.next_year.strftime("%d/%m/%Y") %>
              </div>

            </div>
          </div>
          <div class="col-8 offset-sm-2 text-center d-flex flex-row">
            <%= link_to t('.back_to_profile'), user_path(@user), class:"mr-3" %>
            <%= link_to t('.back_to_index'), users_path, class:"ml-3" %>
          </div>
        </div>
    </div>

  </div>
</div>
