<div class="about">
  <div class="banner mb-4">
    <div class="maintitle">
      <h2><%= t('.title') %></h2>
      <h1><%= t('.subtitle') %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="px-4">
        <p class="margin-bottom-big"><%= t('.introduction') %></p>
        <div class="pastille" style="background-image: url(https://res.cloudinary.com/dfcsmghw4/image/upload/v1536850247/illustrations/photo-1520688997939-5c1916a1cb5e.jpg);"></div>
        <h3 class="margin-bottom-big"><%= t('.steps.title') %></h3>
        <% @steps.each do |step| %>
          <p><strong><%= step[1][:title] %></strong></p>
          <p class="margin-bottom-big"><%= step[1][:content] %></p>
        <% end %>

        <div class="bar-separator"></div>

        <div class="pastille" style="background-image: url(https://res.cloudinary.com/dfcsmghw4/image/upload/v1536851012/illustrations/photo-1518837993197-f2f59dd4ba8e.jpg);"></div>
        <h3 class="margin-bottom-big"><%= t('.tips.title') %></h3>

        <%= t('.tips.subtitle') %>

        <% @tips.each do |tip| %>
          <p><strong><%= tip[1][:title] %></strong></p>
          <p><%= tip[1][:content] %></p>
        <% end %>

        <div class="bar-separator"></div>

        <h3 class="margin-bottom-big"><%= t('.conclusion') %></h3>
      </div>
    </div>
  </div>
  <div class="banner" style="background-image: url(https://res.cloudinary.com/dfcsmghw4/image/upload/v1536852011/illustrations/photo-1491438590914-bc09fcaaf77a.jpg);">
    <div class="main-title">
      <h1><%= t('.footer') %></h1>
    </div>
  </div>
</div>
