<div class="home">
  <div class="banner">
    <div class="maintitle">
      <h1><%= t('.title') %></h1>
      <h3><%= t('.subtitle') %></h3>
      <%= link_to t('.head.button1'), new_user_registration_path,class:"btn btn-light-purple btn-round btn-tall" %>
      <%= link_to t('.head.button2'), new_user_registration_path,class:"btn btn-blue btn-round btn-tall" %>
    </div>
  </div>

  <div class="qualities container">
    <div class="row">
      <% @qualities.each_with_index do |quality,i| %>
        <div class="square-button col d-flex flex-column justify-content-center">
          <%= image_tag "pic#{i}.png"  %>
          <p><%= quality[1] %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="reasons container">
    <div class="reasons-title">
      <h1><%= t('.reasons.title') %></h1>
    </div>
    <div class="row">
      <div class="col-xs col-md-6 reasons-column ">
        <h4><%= t('.reasons.reason1.title') %></h4>
        <p><%= t('.reasons.reason1.content') %></p>
      </div>
      <div class="col-xs col-md-6 reasons-column with-image" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/illustrations/v1536053388/Copy_of_Copy_of_eye-for-ebony-399310-unsplash.jpg')">
      </div>
    </div>

    <div class="row">
      <div class="col-xs col-md-6 reasons-column with-image" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/illustrations/v1536053388/Copy_of_reason_2.jpg')">
      </div>
      <div class="col-xs col-md-6 reasons-column">
        <h4><%= t('.reasons.reason2.title') %></h4>
        <p><%= t('.reasons.reason2.content') %></p>
        <h4></h4>
        <p></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs col-md-6 reasons-column ">
        <h4><%= t('.reasons.reason3.title') %></h4>
        <p><%= t('.reasons.reason3.content') %></p>
      </div>
      <div class="col-xs col-md-6 reasons-column with-image" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/illustrations/v1536053388/Copy_of_pete-bellis-500938-unsplash.jpg')">
      </div>
    </div>
  </div>
</div>
