<section>
  <div class="fullscreen under-navbar flexbox lv-one-page" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/v1544002203/illustrations/photo-1508077260166-098583f5aab4.jpg');">
    <div class="mobile-first-box mt-3 mb-2 relative">
      <h4 class="mb-3"><%= t('.title') %></h4>
      <p><%= t('.hint') %></p>
      <div class="bar-separator-light"></div>
      <p><strong>1. </strong><%= t('.tips.tip1') %></p>
      <p><strong>2. </strong><%= t('.tips.tip2') %></p>
      <p><strong>3. </strong><%= t('.tips.tip3') %></p>
      <p><strong>4. </strong><%= t('.tips.tip4') %></p>
      <div class="text-center mt-5 mb-3">
        <%= link_to t('shared.back_to_home'), root_path, class:"btn btn-light-purple m-auto" %>
      </div>
    </div>
  </div>
</section>
