<div class="plan-wrapper fullscreen under-navbar flexbox">
  <div>
    <div class="payment-board">
        <div class="row">
          <div class="col-12">
            <p class="mb-3"><strong>Achat du Premium Pass</strong></p>
            <p><%= "Paiement assuré par le service  " %> <i class="fab fa-stripe"></i> </p>
            <p><%= "Accès illimité pendant 1 an" %> </p>
            <p><%= "Pour toutes questions, joignez" %> </p>
            <p><%= "La Voyageuse au :" %></p>
            <p><%= "06 05 06 07 08" %></p>
            <p class="mb-5"><strong><%= "Montant : " + humanized_money_with_symbol(@order.amount) %></strong> </p>
          </div>
          <div class="col-12 text-center">
           <%= form_tag user_order_payments_path(current_user, @order) do %>

             <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
               data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
               data-name="La Voyageuse"
               data-email="<%= current_user.email %>"
               data-description="<%= @order.plan_sku %>"
               data-amount="<%= @order.amount_cents %>"
               data-currency="<%= @order.amount.currency %>"
               data-label="Paiement sécurisé par carte">

               </script>

           <% end %>
          </div>
        </div>
    </div>

  </div>
</div>


